body
	background: $mainColor
	font-family: Arial, Helvetica, sans-serif
	font-size: 14px

// Font icons
.fico
	display: inline-block
	font-size: 3rem
	&::before
		display: block


.timeline
	border: 1px solid black
	overflow: hidden
	display: flex
	&__head
		flex-shrink: 0
		width: 200px
		background: white
		.timeline__row
			border-right: 1px solid black
			border-bottom: 1px solid black
			display: flex
			align-items: center
			justify-content: center
			text-align: center
	&__body
		overflow-x: auto
	&__body-wrap
		padding-bottom: 100px
		overflow: hidden
	&__row
		position: relative
		height: 50px
		display: flex
		.timeline__cell
			border-bottom: 1px solid black
	&__cell
		min-width: 50px
		height: 100%
		text-align: center
		float: left
		+nlt
			border-right: 1px solid black
		&.timeline__cell--half
				border-right: 1px solid #cccccc
	&__action
		background: #cccccc
		position: absolute
		top: 5px
		max-height: 40px
		transition: all .3s
		cursor: pointer
		border-radius: 25px
		overflow: hidden
		z-index: 9
		padding: 5px 15px
		opacity: .8
		&:hover
			z-index: 10
			max-width: 500px !important
			max-height: 500px !important
			opacity: 1
			&::after
				transform: translateY(100%)
		&-content
			+text-overflow
		&::after
			content: ''
			width: 100%
			height: 40px
			position: absolute
			z-index: 1
			left: 0
			right: 0
			bottom: 0
			background: linear-gradient(rgba(255,255,255,.0001) 10%, white)
			transition: all .3s


.success
	background: green
	color: white
	&::after
		background: linear-gradient(rgba(255,255,255,.0001) 10%, green)


.warning
	background: orange
	&::after
		background: linear-gradient(rgba(255,255,255,.0001) 10%, orange)



.brand
	background: blue
	color: white
	&::after
		background: linear-gradient(rgba(255,255,255,.0001) 10%, blue)