body
	background: $mainColor
	font-family: Arial, Helvetica, sans-serif
	font-size: 14px

// Font icons
.fico
	display: inline-block
	font-size: 3rem
	&::before
		display: block


.timeline
	border: 1px solid black
	&__row
		display: flex
		width: 100%
		position: relative
		+nlt
			.timeline__cell
				border-bottom: 1px solid black
	&__cell
		min-width: 100px
		min-height: 50px
		text-align: center
		display: flex
		align-items: center
		justify-content: center
		+nlt
			border-right: 1px solid black
	&__cells-wrap
		overflow: hidden
		position: relative